
body{
    background-color:#F6F6F6 ;
}

.outer{
    height: 820px;
    width: 1180px;
    /* border: 1px solid black; */
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,0fr);
    row-gap: 20px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20 px;
}
.outer >div{
    /* border: 1px solid blue; */
    height: 380px;
    width: 370px;
    background-color: #FFFFFF;
    
}
.imgsize{
    height: 200px;
    width: 370px;
    /* border: 1px solid black; */
    overflow: hidden;
}
.imgsize > img{
    height: 200px;
    width: 370px;
    transition: transform .5s,filter 1.5s ease-in-out;
}
.imgsize > img:hover{
    height: 200px;
    width: 370px;
    transform: scale(1.1);
    cursor: pointer;
}
.info{
    height: 120px;
    width: 370px;
    /* border: 1px solid darkblue; */
    cursor: pointer;
    
}
.info > p{
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
    font-size: 25px;
    margin: 0px;
    padding: 15px;
    font-weight: bold;
    line-height: 35px;
    
}
.catagory{
    padding-left: 10px;
    font-family: "Roboto", arial, sans-serif;
    color: #767676;
    border-left: 3px solid red;
    margin-left: 10px;
}